body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 175px;
}

.btn-outline-secondary, .btn.btn-outline-primary {
    background-color: white;
    color: #800000;
}