body {
    background: white;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 175px;
}

#rosefireButton {
    display: block;
    margin: 50px auto 10px;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

h1 {
    font-family: 'Rampart One', cursive;
}

#shortDesc {
    width: 50%;   
    padding: 6px 4px;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid white;
    display: inline-block;
    font-family: 'Irish Grover', cursive;
    font-size: 2rem;
}

#loginButtons {
    float: right;
    width: 50%;
}

#bottomImg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

@media (max-width: 768px) {
    #shortDesc {
        width: 100%;
    }
    img {
        display: none;
    }
}

@media (max-width: 906px) {
    .page-container {
        margin-top: 205px;
    }
}

@media (max-width: 541px) {
    .page-container {
        margin-top: 250px;
    }
}