body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 175px;
}

#rosefireButton {
    display: block;
    margin: 250px auto 0;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

/* img {
    display: block;
    margin: auto;
    width: 25%;
} */