body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

h1 {
    margin: auto;
}
.my-player-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.player{
    width: auto; 
    color: black;
    background-color: grey;
}

#myTeam{
    text-align: center;
}