body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.my-player-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.player{
    width: auto; 
    color: black;
    background-color: grey;
}

#myTeam{
    text-align: center;
}

h1, h2 {
    text-align: center;
}

#editTeam {
    float: right;
    margin-top: 150px;
}

#viewTeam {
    float: left;
    margin-top: 150px;
}