body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

h1 {
    text-align: center;
}

.info-holder {
    border: 2px solid black;
}

p {
    padding: auto;
}

#teamLinkHolder {
    margin-top: 10px;
    margin-bottom: 10px;
}

#myTeamLink, #signOutButton {
    font-size: 2rem;
}